<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .addentry:hover{
            color:white;
        }

        .tblhead{
            background-color: dodgerblue;
            color: white;
        }
        .viewbtn:hover{

            color: white;
        }

    </style>
    <title>Employee Management System</title>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="nav navbar-nav navbar-center">
        <li class="nav-item">
            <br>
            <h1 class="text-center">EMPLOYEE MANAGEMENT SYSTEM</h1> <br>

        </li>


    </ul>
    <br>

   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

    <div class="float-right" sec:authorize="isAuthenticated()">Welcome ! <span sec:authentication="name"></span></div>
</nav>



<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-dark"><a class="nav-link active" href="/employees">Employee</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark"><a class="nav-link" href="/projects">Projects</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark"><a class="nav-link" href="/tasks">Tasks</a></button>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_manager')">
                <button class="btn btn-dark"><a class="nav-link" href="/operations">Operation</a></button>
            </li>

        </ul>

    </div>
</nav>
<br>

<div th:unless="${error==null}">

    <table class="table">
        <thead>
        <tr>
            <td>Status code</td>
            <td>Error</td>
        </tr>
        </thead>

        <tr>
            <td><span th:text="${error.statusCode}"></span></td>
            <td><span th:text="${error.body}"></span></td>
        </tr>
    </table>
</div>

<div class="container">
    <button class="btn btn-outline-primary float-right" sec:authorize="hasRole('ROLE_manager')"><a class="addentry" th:href="@{/add-employee}">+ New Employee</a></button> <br>

    <div th:if="${error==null}">

    <br>
    <br>
    <table class="table table-bordered">
        <thead class="tblhead">
        <tr>
            <th scope="col" >#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each = "employee: ${employees}">
            <td><span th:text="${employee.id}"></span></td>
            <td><span th:text="${employee.firstName}"></span></td>
            <td><span th:text="${employee.lastName}"></span></td>
            <td><span th:text="${employee.email}"></span></td>
            <td><button class="btn btn-outline-primary">
                <a class="viewbtn" th:href="@{'/employees/' + ${employee.id}}" role="button" th:action="@{/employees/${employee.id}}">View</a>
            </button></span></td>
        </tr>

        </tbody>
    </table>


</div>
</div>

</body>

</html>
