<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Employee Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .page-footer {
            background: #007b5e;
        }
        .footer-copyright{
            color:white;
        }
    </style>

</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>EMPLOYEE MANAGEMENT SYSTEM</h1>


</div>
<div class="container text-center">
    <img src="../static/images/em_3.jpg" th:src="@{images/em_3.jpg}"/>
    <br>
</div>
<div class="container w-75 p-3 h-25">
    <p>This Employee Management System addresses the management of human resource and task allocation in software projects. It provides the
        framework for organizing and managing resources in such a way that these resources deliver all the
        work required to complete a software project within defined scope, time and cost constraints.
        The system applies only to the management of software projects and is a tool that facilitates decision
        making.
        <button type="button" class="btn btn-warning float-right"><a href="/home">Explore More >></a></button>

    </p>

</div>








</body>
<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright <i>Dazperera</i>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
