<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Employee Management System</title>
</head>
<body>

<div class="jumbotron " style="margin-bottom:0">
    <h1 class="text-center">EMPLOYEE MANAGEMENT SYSTEM</h1>
    <div class="float-right" sec:authorize="isAuthenticated()">Welcome ! <span sec:authentication="name"></span></div>
</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-dark"><a class="nav-link active" href="/employees">Employee</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark"><a class="nav-link" href="/projects">Projects</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark"><a class="nav-link" href="/tasks">Tasks</a></button>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_manager')">
                <button class="btn btn-dark"><a class="nav-link" href="/operations">Operation</a></button>
            </li>
        </ul>
    </div>
</nav>
<br>

<div th:unless="${error==null}">

    <table class="table">
        <thead>
        <tr>
            <td>Status code</td>
            <td>Error</td>
        </tr>
        </thead>

        <tr>
            <td><span th:text="${error.statusCode}"></span></td>
            <td><span th:text="${error.body}"></span></td>
        </tr>
    </table>
</div>

<div class="container" th:if="${error==null}">

    <br>

        <h4 class="text-center">Tasks Assigned</h4>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task Name</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="task:${tasks}">
                <td><span th:text="${task.id}"></span></td>
                <td><span th:text="${task.name}"></span></td>
                <td><span th:text="${task.description}"></span></td>
            </tr>

            </tbody>
        </table>







</div>



</body>

</html>
